{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<img src="/../static/polls/job_meme.png" alt="My picture">
<img src="/static/polls/job_meme.png" alt="My picture">
<img src="/static_root/mysite/polls/job_meme.png" alt="My picture">
<img src="/mysite/static_root/mysite/polls/job_meme.png" alt="My picture">
<img src="/../mysite/static_root/mysite/polls/job_meme.png" alt="My picture">
<img src="/../../mysite/static_root/mysite/polls/job_meme.png" alt="My picture">